<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
    <title>Add Products</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">

        <form action="/product" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="productImageURL" class="form-label">Product Image</label>
                <input type="file" name="productImageURL" class="form-control" id="productImageURL" aria-describedby="productImageURL">  
            </div>
            <div class="mb-3">
                <label for="code" class="form-label">Code</label>
                <input type="text" name="code" class="form-control" id="code" aria-describedby="code">  
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="name">  
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <%- include('./partials/scripts') %>
</body>
</html>